/*
  ----------------
  お役立ちコラム一覧
  ----------------
*/

.arc-column {

  .hero03 {
    background: url("../img/column/bg-hero.webp") 50% / cover no-repeat;
    height: 320px;
    color: #fff;
    @media #{$sp} {
      height: auto;
    }
    .lead {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 0;
      @media #{$sp} {
        font-size: 16px;
      }
    }
  }

  .latest,.grid {
    .cat {
      background: #fff;
      color: #1C83D1;
    }
  }

}