/*
  ----------------
  選ばれる理由
  ----------------
*/

.strength {

  .hero03 {
    background: url("../img/strength/bg-hero.webp") 50% / cover no-repeat;
    height: 430px;
    color: #fff;
    @media #{$sp} {
      height: auto;
    }
    .lead {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 40px;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    .more {
      max-width: none;
      width: 560px;
      padding: 20px;
      font-size: 20px;
      @media #{$sp} {
        width: 85%;
        padding: 15px;
        font-size: 16px;
      }
      &:hover {
        background: #fff;
        color: #19232d;
        &::before {
          border-top: 3px solid #19232d;
          border-right: 3px solid #19232d;
        }
      }
    }
  }

  .symmetry {
    .item {
      &__box {
        &--num {
          color: #F3F9FD;
          -webkit-text-stroke: 1px #1C83D1;
          text-stroke: 1px #1C83D1;
        }
        &--ttl {
          margin-bottom: 20px;
          @media #{$sp} {
            margin-bottom: 15px;
          }
        }
        &--txt {
          line-height: 1.875;
          margin-bottom: 0;
        }
      }
    }
  }

}

