<footer>
  <div class="containers nav">
    <a href="/" class="nav__img"><img src="/assets/img/common/f-logo.svg" alt="A・ROCCA"></a>
    <div class="address">〒460-0003　愛知県名古屋市中区錦1丁目5－11名古屋伊藤忠ビル4F<br>TEL:052-855-4794</div>
    <nav class="flex">
      <div class="nav__box">
        <div class="nav__box--ttl">サービス</div>
        <ul class="nav__box--list">
          <li><a href="/it_personnel/">アイティ人事</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">ニーズ・課題から探す</div>
        <ul class="nav__box--list">
          <li><a href="/concurrent_post/">採用を兼務されているご担当者様へ</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お役立ち情報</div>
        <ul class="nav__box--list">
          <li><a href="/case/">実績・事例</a></li>
          <li><a href="/whitepaper/">お役立ち資料</a></li>
          <li><a href="/column/">お役立ちコラム</a></li>
          <li><a href="/news/">お知らせ</a></li>
        </ul>
      </div>
      <div class="nav__box">
        <div class="nav__box--ttl">お問合せ</div>
        <ul class="nav__box--list">
          <li><a href="/catalog/">サービス資料ダウンロード</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <aside class="aside">
    <ul class="flex jcC inherit aside__nav">
      <li><a href="/company/">企業情報</a></li>
      <li><a href="https://arocca.co.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
      <li><a href="/sitemap/">サイトマップ</a></li>
    </ul>
    <div class="aside__copy">© A・ROCCA Inc. All Rights Reserved.</div>
  </aside>
</footer>